<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="../../tests/bootstrap.php"
    colors="true"
    verbose="true"
    cacheResultFile=".phpunit.result.cache"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>../../tests/unit</directory>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">custom</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>wp</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
    
    <php>
        <env name="WP_TESTS_DOMAIN" value="wordpress-quickstart.lndo.site"/>
        <env name="WP_TESTS_EMAIL" value="admin@wordpress-quickstart.lndo.site"/>
        <env name="WP_TESTS_TITLE" value="WordPress Quickstart Test"/>
        <server name="HTTP_HOST" value="wordpress-quickstart.lndo.site"/>
    </php>
</phpunit>
